

<main>
    {{!-- foumulario --}}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form action="/cadastrar" method="post" enctype="multipart/form-data">
                
                    <input type="text" name="nome" class="form-control" placeholder="Nome">
                    <input type="number" name = "idade" class="form-control"  placeholder="Idade">
                    <input type="email" name = "email" class="form-control" placeholder="Email">
                    <input type="paswd" name = "senha" class="form-control" placeholder="Senha">
                     <input type="file" name = "imagem" class="form-control" >
                    <input type="submit" class="btn btn-primary" value="Cadastrar"> 

                </form>
            </div>        
        </div>       
    </div>
    {{!-- Listagem de Clientes --}}

<div class="conteiner">
    <div class="row">
        <div class="col-12">
            <div class="card">
                    <img src="../imagens/02.jpeg"> 
                    <p>Nome: {{nome}}</p>
                    <p>Idade: {{idade}}</p>
                    <p>Email: {{email}}</p>
                    <p>Senha: {{senha}}</p>
                    <a href="#">Alterar</a>
                    <a href="#">Excluir</a>
             </div>
        </div>
    </div>
</div>

</main>