

<main>
    {{!-- foumulario --}}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form action="/cadastrar" method="post">
                    <input type="text" name="nome" class="form-control" placeholder="Nome">
                    <input type="number" name = "idade" class="form-control"  placeholder="Idade">
                    <input type="email" name = "email" class="form-control" placeholder="Email">
                    <input type="paswd" name = "senha" class="form-control" placeholder="Senha">
                    <input type="submit" class="btn btn-primary" value="Cadastrar"> 

                </form>
            </div>        
        </div>       
    </div>
</main>