
<main>

    <!-- Botão para abrir o modal -->
     <button class="open-modal" data-modal="modal-1">
        {{!-- Open Modal --}}

    <!-- Modal -->
    <dialog id="modal-1">
        
        <form action="{{formAction}}" method="post">
            <!-- Cabeçalho do modal -->
            <div class="modal-header">
                <!-- Título do modal -->
                <h1 class="modal-title">
                    Sign in to our platform
                </h1>

                <!-- Botão para fechar o modal -->
                <button class="close-modal" type="button" data-modal="modal-1">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
    
            <!-- Corpo do modal -->
            <div class="modal-body">
                <!-- Campo de e-mail -->
                
                <div class="input-group">
                    <label for="email">Email</label>
                    
                    <input 
                        type="email" 
                        id="email" 
                        name="email" 
                        placeholder="name@example.com"
                        {{!-- value="{{email}}" --}}
                    >
                </div>
    
                <!-- Campo de senha -->
                <div class="input-group">
                    <label for="password">Password</label>
                    
                    <input 
                        type="password" 
                        id="password"
                        name="senha"
                        placeholder="•••••••"
                        {{!-- value="{{password}}" --}}
                    >
                </div>

                <!-- Opções de senha -->
                {{!-- <div class="password-options">
                    <div class="remember-password">
                      
                        <input 
                            type="checkbox" 
                            id="remember_password" 
                            name="remember_password"
                            {{#if remember_password}}checked{{/if}}
                        >
                        <label for="remember_password">Remember me</label>
                    </div>

                    <a href="#" class="forgot-password">Forgot password?</a>
                </div> --}}

                <!-- Botão de login -->
                <button id="login_button">
                    Login to your account
                </button>

                <!-- Botão de registro -->
                <div class="register">
                    <span>Not registered?</span>
                    <a href="#">Login here</a>
                </div>
            </div>
        </form>
    </dialog>

    <!-- JavaScript -->
    </button>

</main>
